* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Script, Calligraphy, Handwritten Typefaces;
}

main {
    background-image: linear-gradient(#008bfc, #00fcb9, #c4a102, #ed7e00, #ff5e00);
}

/* .........Header.......... */

header {
    position: relative;
    text-align: center;
    max-width: auto;
    max-height: auto;
    font-family: Script, Calligraphy, Handwritten Typefaces;
    background-color: rgb(33, 33, 33);
    height: 480px;
}

.primary {
    width: 100%;
    height: 400px;
}

.navbar {
    position: absolute;
    top: 80%;
    left: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav a{
    font-size: 40px;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 1ch;
    background-color: rgb(40, 40, 40);
    transition: 0.5s;
}

.nav a:hover {
    background-color: rgb(79, 79, 79);
    color: black;
}

nav a.active {
    background-color: rgb(79, 79, 79);
    color: black;
}

@media(max-width: 1200px) {
    .navbar {
        position: absolute;
        left: 20%;
    }
}

@media(max-width: 925px) {
    .navbar {
        position: absolute;
        top: 80%;
        left: 5%;
    }
}

@media(max-width: 769px) {
    .nav {
        gap: 20px;
    }
}

@media(max-width: 720px) {
    .nav a {
        font-size: 30px;
    }
}

@media(max-width: 600px) {
    .navbar {
        position: absolute;
        left: 12%;
        padding: 20px 0px;
    }

    .primary {
        width: 600px;
        height: 380px;
    }
}

@media(max-width: 473px) {
    .navbar {
        top: 60%;
        left: 15%;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 250px;
        }

    .primary {
        width: 473px;
        height: 300px;
    }
}

@media(max-width: 400px) {
    header {
        height: 320px;
        background-color: rgb(33, 33, 33);
    }

    .navbar {
        position: absolute;
        top: 55%;
        left: 15%;
        padding: 10px;
    }

    nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    }

    .nav {
        gap: 0px;
    }

    .nav a {
        margin: 10px;
        padding: 5px;
    }

    .primary {
        width: 400px;
        height: 210px;
    }

}

/* ........Main ........ */

.contact {
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}

.contact .content {
    max-width: 800px;
    text-align: center;
    color: #020202;
    border-radius: 10px 10px 10px 10px;
    background-color: hsla(0, 0%, 100%, 0.5);
    padding: 15px;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
}

.contact .content p {
    font-weight: 300;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

@media(max-width: 525px) {
    .container .contactInfo {
        width: 75%;
    }
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    padding: 5px;
    color: #020202;
    flex-direction: column;
    font-weight: 300;
    border-radius: 10px 10px 10px 10px;
    background-color: hsla(0, 0%, 100%, 0.5);
}

.container .contactInfo .box .text h3 {
    font-size: 24px;
    font-weight: 500;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background-color: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.contactForm .inputBox input[type="submit"]:hover, 
input[type="submit"]:focus, 
input[type="submit"]:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


#msg {
    color: #ff0d00;
    margin-top: 10px;
    display: block;
}

@media( max-width:991px) {

    body {
        background-size: cover;
        background-position: center;
    }
    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .contactInfo {
        margin-bottom: 40px;
    }

    .container .contactForm,
    .contactForm {
        width: 100%;
    }
}

@media(max-width: 525px) {
    .text {
      width: 300px;
    }
    .box {
      width: 220px;
    }
  
    .width-box {
      width: 195px;
    }
  }


/* ........Footer........ */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: rgb(40, 40, 40);
    color: rgb(195, 195, 195);
}

.footer p {
    padding: 3px;
}

.footer h2 {
    font-size: 20px;
}