* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Script, Calligraphy, Handwritten Typefaces;
}

body {
    background-image: linear-gradient(#00fcda, #01bda4, #c4a102, #edba00, #ff5e00);
}

main {
    margin: 0rem;
}

/* .........Header.......... */

header {
    position: relative;
    text-align: center;
    max-width: auto;
    max-height: auto;
    font-family: Script, Calligraphy, Handwritten Typefaces;
    background-color: rgb(33, 33, 33);
    height: 480px;
}

.primary {
    width: 100%;
    height: 400px;
}

.navbar {
    position: absolute;
    top: 80%;
    left: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav a{
    font-size: 40px;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 1ch;
    background-color: rgb(40, 40, 40);
    transition: 0.5s;
}

.nav a:hover {
    background-color: rgb(79, 79, 79);
    color: black;
}

nav a.active {
    background-color: rgb(79, 79, 79);
    color: black;
}

@media(max-width: 1200px) {
    .navbar {
        position: absolute;
        left: 20%;
    }
}

@media(max-width: 925px) {
    .navbar {
        position: absolute;
        top: 80%;
        left: 5%;
    }
}

@media(max-width: 769px) {
    .nav {
        gap: 20px;
    }
}

@media(max-width: 720px) {
    .nav a {
        font-size: 30px;
    }
}

@media(max-width: 600px) {
    .navbar {
        position: absolute;
        left: 12%;
        padding: 20px 0px;
    }

    .primary {
        width: 600px;
        height: 380px;
    }
}

@media(max-width: 473px) {
    .navbar {
        top: 60%;
        left: 15%;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 250px;
        }

    .primary {
        width: 473px;
        height: 300px;
    }
}

@media(max-width: 400px) {
    header {
        height: 320px;
        background-color: rgb(33, 33, 33);
    }

    .navbar {
        position: absolute;
        top: 55%;
        left: 15%;
        padding: 10px;
    }

    nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    }

    .nav {
        gap: 0px;
    }

    .nav a {
        margin: 10px;
        padding: 5px;
    }

    .primary {
        width: 400px;
        height: 210px;
    }

}

/* ..........Main......... */

.grid-gallery {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.grid-gallery .grid-item {
    width: 450px;
    height: 450px;
    background-color: #efefef;
    border-radius: 10px;
}

.grid-gallery .grid-item h2 {
    position: absolute;
    color: rgb(0, 0, 0);
    border-radius: 10px 10px 10px 10px;
    background-color: hsla(0, 0%, 100%, 0.5);
    pointer-events: none;
    user-select: none;
    font-size: 25px;
    font-family: Script, Calligraphy, Handwritten Typefaces;
    margin: 10px;
    padding: 5px;
}

.grid-gallery .grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 10px;
}

.grid-gallery .grid-item:hover img {
    transform: scale(1.1);
}

.grid-gallery .grid-item a {
    cursor:auto;
    pointer-events: none;
    user-select: none;
}

@media(max-width: 578px) {
    .grid-gallery .grid-item {
        width: 350px;
        height: 350px;
    }

    .grid-gallery .grid-item:hover img {
        transform: scale(none);
    }
}

@media(max-width: 400px) {
    .grid-gallery .grid-item {
        width: 290px;
        height: 290px;
    }

    .grid-gallery .grid-item h2 {
        font-size: 20px;
    }
}



.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: rgb(40, 40, 40);
    color: rgb(195, 195, 195);
}

.footer p {
    padding: 3px;
}

.footer h2 {
    font-size: 20px;
}