* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Script, Calligraphy, Handwritten Typefaces;
}

body {
    background: url(/download/background-2.jpg) no-repeat;
    background-size:cover;
    background-position-x: center;
}
/* .........Header.......... */

header {
    top: 0;
    left: 0;
    width: 100%;
    font-size: 40px;
    padding: 20px 80px;
    font-family: Script, Calligraphy, Handwritten Typefaces;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-radius: 10px 10px 10px 10px;
    background-color: hsla(0, 0%, 24%, 0.945);
}
.logo {
    height: 250px;
}

.nav a{
    font-size: 40px;
    padding: 5px;
    text-decoration: none;
    color: white;
    border-radius: 1ch;
    background-color: rgb(40, 40, 40);
    transition: 0.5s;
}

.nav a:hover {
    background-color: rgb(79, 79, 79);
    color: black;
}

nav a.active {
    background-color: rgb(79, 79, 79);
    color: black;
}

@media(max-width: 915px) {
    .nav a {
        padding: 0 5px;
    }
}

@media(max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        font-size: 60px;
    }

    nav a {
        padding-top: 30px;
    }
}

@media(max-width: 525px) {
    .nav {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .nav a {
        font-size: 30px;
    }
}
/* ..........Main......... */

section {
    padding: 50px 10px;
}
div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    background-color: hsla(0, 0%, 100%, 0.5);
    padding: 10px;
}

.container h2 {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hours {
    font-size: 30px;
}

.hours p {
    padding: 5px;
    margin: 10px;
}

.phone-number {
    padding: 5px;
    margin: 10px;
    font-size: 30px;
}

.phone-number p {
    padding: 5px;
    margin: 10px;
}

.address {
    font-size: 30px;
}

.address p {
    padding: 5px;
    margin: 10px;
}
.starter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 50px;
}

.starter h2 {
    padding: 20px;
    font-size: 50px;
    color: rgb(0, 0, 0);
    background-color: hsla(0, 0%, 100%, 0.8);
    border-radius: 10px 10px 10px 10px;
}

.starter p {
    font-size: 25px;
    border-radius: 10px 10px 10px 10px;
    background-color: hsla(0, 0%, 100%, 0.8);
    padding: 10px;
    margin: 5px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services h2 {
    font-size: 50px;
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color: hsla(0, 0%, 100%, 0.8);
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
}

.explained {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;
    padding-bottom: 40px;
}

.iner-block {
    border-radius: 10px 10px 10px 10px;
    background-color: hsla(0, 0%, 100%, 0.8);
    padding: 10px;
    margin: 5px;
}

.iner-block h4 {
    font-size: 25px;
    display: flex;
    justify-content: center;
}

@media(max-width: 700px) {
    
    .explained {
        padding-left: 50px;
        padding-right: 30px;
    }
    .iner-block {
        width: 280px;
    }
}

@media(max-width: 605px) {
    .explained {
        padding-left: 80px;
        padding-right: 30px;
    }
    .iner-block {
        width: 220px;
    }
}

@media(max-width: 525px) {

    .hours {
        font-size: 28px;
    }

    .phone-number {
        font-size: 40px;
    }

    .address {
        font-size: 35px;
    }

    .iner-block {
        width: 270px;
    }

    .explained {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    .iner-block h4 {
        font-size: 40px;
    }

    .starter-h2 {
        padding-left: 35px;
    }
}

footer {
    background-color: white;
}

/* ..........Footter........ */
    .footer {
        padding: 30px;
        clear: both;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        background-color: rgb(40, 40, 40);
        color: rgb(195, 195, 195);
    }

    .footer p {
        padding: 3px;
    }
    
    .footer h2 {
        font-size: 20px;
    }