* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#008bfc, #c4a102, #ed7e00, #ff5e00);
}

main {
    flex: 1;
    overflow: scroll;
}

/* .........Header.......... */

header {
    position: relative;
    text-align: center;
    max-width: auto;
    max-height: auto;
    font-family: Script, Calligraphy, Handwritten Typefaces;
}

.primary {
    width: 100%;
    height: 400px;
}

.navbar {
    position: absolute;
    top: 80%;
    left: 30%;
    padding: 20px 80px;
}

.nav a{
    font-size: 40px;
    padding: 5px;
    text-decoration: none;
    color: white;
    border-radius: 1ch;
    background-color: rgb(40, 40, 40);
    transition: 0.5s;
}

.nav a:hover {
    background-color: rgb(79, 79, 79);
    color: black;
}

nav a.active {
    background-color: rgb(79, 79, 79);
    color: black;
}

@media(max-width: 1200px) {
    .navbar {
        position: absolute;
        left: 20%;
    }
}

@media(max-width: 925px) {
    .navbar {
        position: absolute;
        top: 80%;
        left: 10%;
    }
}

@media(max-width: 720px) {
    .nav a {
        font-size: 30px;
    }
}

@media(max-width: 600px) {
    .navbar {
        position: absolute;
        left: 20%;
        padding: 20px 0px;
    }
}

@media(max-width: 473px) {
    .navbar {
    position: absolute;
    left: 5%;
    }
}

@media(max-width: 400px) {
    .navbar {
        position: absolute;
        top: 75%;
    }

}
/* ..........Main......... */

.menus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-food {
    text-align: center;
    flex-basis: 32%;
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 10px 10px 10px 10px;
    width: 720px;
}

.main-food h2 {
    font-size: 40px;
}

.menu-header {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}

.menu-header h2 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 50px;
    margin: 20px;
    padding: 30px;
    position: relative;
}

.menu-header h2::after {
    position: absolute;
    content: "";
    width: 150px;
    height: 3px;
    background-color: red;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.inner-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 20px;
    margin-bottom: 60px;
    line-height: 1;
    list-style: none;
}
/* Keep working HERE!!!!!!!!!!!!!!!!! */
.inner-nav li {
    background-color: hsla(0, 0%, 41%, 0.5);
    border-radius: 10px 10px 10px 10px;
  padding: 10px;
}

.inner-nav a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.menu-box h4 {
    font-size: 22px;
}

.menu-box p {
    font-size: 19px;
}

.lunch-dinner {
    padding-top: 40px;
}

.lunch-dinner-dishes h2 {
    margin-top: 20px;
    padding-top: 10px;
    font-size: 33px;
}

.meats {
    padding-top: 40px;
    padding-bottom: 40px;
}

.meats h2 {
    font-size: 40px;
}

.middle-mini-menu-box h4{
    font-size: 20px;
} 

.extras-sides-drink {
    display: flex;
    justify-content: center;
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 10px 10px 10px 10px;
    width: 720px;
}

.extras-sides-drink h2{
    font-size: 40px;
}

.left {
    padding: 9px;
    margin: 1px;
}

.right {
    padding: 9px;
    margin: 1px;
}

.left-mini-menu-box {
    font-size: 20px;
}

.right-mini-menu-box {
    font-size: 20px;
}

/* ..........Footer.......... */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: rgb(40, 40, 40);
    color: rgb(195, 195, 195);
}

.footer p {
    padding: 3px;
}

.footer h2 {
    font-size: 20px;
}

@media(max-width: 800px) {
    .carne-width {
        width: 600px;
    }
}

@media(max-width: 770px) {
    .main-food {
        width: 500px;
    }

    .extras-sides-drink {
    width: 500px;
    }
}

@media(max-width: 525px) {
    .menu-box {
        padding: 5px;
    }

    .menu-box h4 {
        border-radius: 10px 10px 10px 10px;
        background-color: hsla(0, 0%, 100%, 0.195);
        padding: 5px;
        margin: 5px;
        width: 100%;
/* working here!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1 */
    }

    .meats {
        font-size: 40px;
    }

    .left-mini-menu-box {
        padding: 1px;
        margin: 1px;
    }

    .footer {
        padding: 10px;
    }
}

@media(max-width: 525px) {

    .meats {
        padding-bottom: 20px;
    }

    .meats .middle-mini-menu-box {
        padding: 0px;
    }

    .middle-mini-menu-box h4 {
    font-size: 20px;
    }

    .extras-sides-drink .left {
        margin-left: 15px;
    }
    .extras-sides-drink .left h2 {
        font-size: 30px;
        position: relative;
    }

    .extras-sides-drink .left h2::after {
    position: absolute;
    content: "";
    width: 170px;
    height: 3px;
    background-color: red;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

    .extras-sides-drink .left h4 {
        font-size: 20px;
    }

    .extras-sides-drink .right {
        margin-right: 15px;
    }

    .extras-sides-drink .right h2 {
        font-size: 30px;
        position: relative;
    }

    .extras-sides-drink .right h2::after {
        position: absolute;
        content: "";
        width: 80px;
        height: 3px;
        background-color: red;
        bottom: 0;
        left: 25%;
        transform: translateX(-50%);
    }

    .extras-sides-drink .right h4 {
        font-size: 20px;
    }
}
