* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Script, Calligraphy, Handwritten Typefaces;
}

body {
    min-height: 100vh;
    background: url(/download/background-2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    line-height: 1.5;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.logo {
    height: 250px;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    background: hsl(0 0% 0% / 0.5);
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
    }
}

.primary-navigation a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: 0.75em;
}

@media (max-width: 35em) {
    .primary-navigation {
        --gap: 2em;
        position: fixed;
        z-index: 1000;
        inset: 0, 0, 0, 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        width: 2rem;
        background-color: transparent;
        background-image: url("download/menu-regular-24.png");
        background-repeat: no-repeat;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("download/x-circle-solid-24.png");
    }

}

@media (min-width: 35em) {
    .primary-navigation {
        --gap: clamp(1.5rem, 5vw, 3rem);
        padding-block: 2rem;
        padding-inline: clamp(3rem, 10vw, 10rem);
        background: red;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    background-color: hsla(0, 0%, 100%, 0.5);
    padding: 10px;
    margin: 10px;
    
}

.hours {
    padding: 5px;
    margin: 10px;
    font-size: 30px;
}

.phone-number {
    padding: 5px;
    margin: 10px;
    font-size: 30px;
}

.address {
    font-size: 30px;
}

.starter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 50px;
}

.starter h2 {
    font-size: 50px;
    color: rgb(0, 0, 0);
    background-color: hsla(0, 0%, 100%, 0.6);
    border-radius: 10px 10px 10px 10px;
}

.starter p {
    font-size: 25px;
    border-radius: 10px 10px 10px 10px;
    background-color: hsla(0, 0%, 100%, 0.6);
    padding: 10px;
    margin: 5px;
    width: 800px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services h2 {
    font-size: 50px;
    color: rgb(0, 0, 0);
    background-color: hsla(0, 0%, 100%, 0.6);
    border-radius: 10px 10px 10px 10px;
}

.explained {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 500px;
    padding-bottom: 40px;
}

.iner-block {
    border-radius: 10px 10px 10px 10px;
    background-color: hsla(0, 0%, 100%, 0.6);
    padding: 10px;
    margin: 5px;
}

.iner-block h4 {
    font-size: 25px;
}

    .footer {
        padding: 30px;
        clear: both;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        background-color: rgb(40, 40, 40);
        color: rgb(195, 195, 195);
    }
    
    .footer h2 {
        font-size: 20px;
    }